html {
    color: #bab2b9;
    font: 18px "Ubuntu";
    height: 100%;
}

body {
    background-color: #010109;
    padding: 300px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:hover {
    font-weight: bold;
}

ul, nav {
    list-style-type: none;
    margin: 5px;
    display: inline-block;
    text-align: center;
}

div {
    text-align: center;
    padding-right: 75px;
}

.center {
    text-align: center;
    margin-left: -25px;
    margin-bottom: 50px;
}

input {
    background-color: unset;
    font: 16px "Ubuntu";
    color: #bab2b9;
    height: 100%;
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    border-bottom-color: #827c81;
    text-align: center;
    margin-bottom: 50px;
}
input:focus {
    outline: none;
}
